{% include '_header.html.twig' %}

<body>


    {% if articles.published %}

        <article style="background-color: {{ articles.color }}">
            <h1 style="text-align: center">{{ articles.title }}</h1>
            <p>{{ articles.description }}</p>
            <img src="{{ articles.image }}" alt="des sales tronches" style="width: 33vw">
            <p>publié le {{ articles.publishedDate|date ('d-M-y') }}</p>
            <a style="color: black" href="{{ path('star', {'id': articles.id }) }}">Voir les détails</a>
        </article>

    {% endif %}

{% include '_footer.html.twig' %}